<div class="navbar">
    <div class="container">
        <ul>
            <li>
                <a href="./">
                    <span><img src="./upload/logodulichht.png" style="width: 60px; height: 60px; margin-top: -15px;"></span>
                    <span style="color: #f2f2f2; font-size: 25px;line-height: 100px;">TRAVEL VIETNAM</span>
                </a>
            </li>
        </ul>
       <ul class="nav">
           <li class="line-navbar">
               <a href="./">
                   <h6 class="link-navbar">HOME</h6>
               </a>
           </li>
           <li class="line-navbar">
               <a href="./travel.php" >
                   <h6 class="link-navbar" >TRAVEL</h6>
               </a>
           </li>
           <li class="line-navbar">
               <a href="./introduceVietnam.php">
                   <h6 class="link-navbar">VIETNAM</h6>
               </a>
           </li>
           <li class="line-navbar">
               <a href="./contact.php" >
                   <h6 class="link-navbar" >CONTACT</h6>
               </a>
           </li>
       </ul>
    </div>
</div>
